@import "root.css";

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/img/base.png);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 0.25rem 0.5rem #1e1e1e3f;
  width: 27rem;
}

.form::selection {
  background-color: var(--green-300);
}

.title {
  font-family: "Gasoek One", sans-serif;
  font-size: 2rem;
  color: var(--green-100);
}

.input {
  position: relative;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--white-100);
  color: var(--green-100);
}

.input::placeholder {
  font-weight: bold;
  color: var(--white-100);
}

.input:focus {
  border-color: var(--green-300);
}

.input:focus:hover {
  border-color: var(--green-300);
}

.input:hover {
  border-color: var(--grey-50);
}

.term {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.check {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 0.15rem;
  border: 0.15rem solid var(--white-100);
}

.check:checked {
  background-color: var(--white-100);
}

.label {
  color: var(--white-100);
}

.button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--green-100);
  color: var(--green-300);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s linear;
}

.button:hover {
  background-color: var(--green-300);
  color: var(--green-100);
}

.link {
  color: var(--green-100);
  background: none;
  cursor: pointer;
  transition: 0.2s linear;
}

.link:hover {
  color: var(--green-300);
}
